img{
    float: right;
     width: 40%;
     height: 240px;
}

.p{
    width: 50%;
    float: left;
}

.container{
    width: 20%;
    height: 100px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}